/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
h1.page-title {
    background: url(assets/images/pig.png) left top no-repeat;
    background-size: contain;
    color: #fc0e1b;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 3.5em;
    height: 200px;
}

.pig-latin-form {
    max-width: 330px;
}

.control-label input {
    width: 300px;
}

.copy-tools {
    text-align: right;
}

.copy-button {
    cursor: pointer;
    display: none;
}

.copy-button.shown {
    display: inline-block;
}
