/* You can add global styles to this file, and also import other style files */
h1.page-title {
    background: url(assets/images/pig.png) left top no-repeat;
    background-size: contain;
    color: #fc0e1b;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 3.5em;
    height: 200px;
}

.control-label input {
    width: 300px;
}
